# macOS
.DS_Store

# Python cache/bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build/dist
build/
dist/
*.egg-info/

# Logs
*.log

# Data outputs
*.csv
*.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/